<head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>Invitation to {{eventDetails.name}}</title> --}}
    <title>OnAirCode - Tech,
    Social Media,
    How-Tos Guides</title>
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Join me at {{eventDetails.name}}!" />
    <meta property="og:description" content="I'm attending {{eventDetails.name}} on {{eventDetails.date}} at {{eventDetails.venue}}. Click to create your own invitation!" />
    <meta property="og:image" content="https://i0.wp.com/onaircode.com/wp-content/uploads/2019/06/responsive-web-website.jpg?fit=1280%2C853&ssl=1" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="853" />
    <meta property="og:url" content="{{pageUrl}}" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:type" content="website" />
    
    <!-- WhatsApp specific -->
    <meta property="og:site_name" content="{{eventDetails.name}}" />
    <meta name="twitter:card" content="summary_large_image" />

</head>
<body>
    <h1>Invitation to {{eventDetails.name}}</h1>
    <p>I'm attending {{eventDetails.name}} on {{eventDetails.date}} at {{eventDetails.venue}}. Click to create your own invitation! : <a href="{{shareUrl}}" target="_blank">Click here</a></p>
    <img src="{{posterUrl}}" alt="Event Poster" style="max-width:100%;">
</body>
